.contact {
  height: 100vh;
  display: flex;
}

.cSection {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.phoneSvg {
  stroke: orange;
  position: absolute;
  margin: auto;
  z-index: -1;
}

.contact__title {
  font-weight: bolder;
  font-size: 2.5rem;
}

.contact__title span {
  color: #dd4c62;
}

.cTitle a {
  display: flex;
  font-size: 1rem;
  margin-top: 0.5rem;
  align-items: center;
  cursor: pointer;
  margin-left: 1rem;
  text-decoration: none;
  color: inherit;
}

.cTitle a i {
  margin-right: 0.5rem;
}

.cTitle p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.cSection:last-child {
  background-color: rgba(2, 2, 45, 0.187);
  margin: 50px 0px;
  padding: 50px;
  border-radius: 50% 0px;
  height: 80%;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(2, 2, 45, 0.066);
  padding: 50px;
  border-radius: 50px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

input,
textarea {
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 13px;
}

.formButton {
  background-color: #dd4c62;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.formButton:hover {
  background-color: #c03b52;
}

/* 🌐 Responsive Design */
@media (max-width: 768px) {
  .contact {
    flex-direction: column;
    margin-top: 1rem;
  }

  .cSection {
    width: 100%;
    padding: 20px 10px;
  }

  .contact__title {
    font-size: 2rem;
    text-align: center;
  }
.call-svg{
  height: 300px;
  width: 300px;
}
  form {
    position: relative;
    width: 100%;
    padding: 30px;
  }
.cSection.right{
 margin: 0;
}
  .cSection:last-child {
    border-radius: 30px;
    height: auto;
  }
}